---
import Section from "../layouts/Section.astro";
---

<section id="Home" class="inicio">
	<div class="info">
		<strong class="title">Descubre el mundo ghibli</strong>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem
			necessitatibus maiores sequi esse nemo, nam eius dignissimos vero
			delectus eum! Veritatis, deserunt. Error, id a.
		</p>
	</div>

	<div class="imagen">
		<img src="../../public/media/castle.png" alt="castillo">
	</div>
</section>

<style>
	/* INICIO */

	.inicio{		
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 100%;
		height: 100vh;
	}

	.info{
		display: grid;
		place-items: center;
		max-width: 600px;
	}

	.info .title {
		font-size: var(--title);
		text-transform: uppercase;
		color: rgb(90, 161, 87);	
		margin: 30px 0 0 0;
	}

	.info p {
		font-size: var(--text-pri);
	}

	.inicio .imagen img {
		cursor: pointer;
		transition: all .6s ease-out;
		width: 600px;
		padding-left: 70px;
	}

	.inicio .imagen img:hover {
		cursor: pointer;
		transform: translate(20px, -20px);
	}


	
	@media(max-width: 980px){
		.inicio{
			padding-top: 80px;
			display: flex;
			flex-direction: column;
			text-align: center;
		}

		.inicio .imagen img{
			max-width: 100%;
			display: block;
			padding: 0;
		}
	}


	/* @media(max-width: 760px){
		.inicio{
			padding-top: 80px;
			display: flex;
			flex-direction: column;

		}

		img{
			max-width: 100%;
			display: block;
		}
	} */

/* 
	@keyframes mov {
		0%{
			transform: translate(0, 0);
		}
		30%{
			
		}
		40%{
			transform: translate(15px, -5px);
		}
		50%{
			transform: translate(20px, -15px);
		}
		60%{
			transform: translate(15px, -5px);
		}
		50%{
			transform: translate(20px, -15px);
		}
		60%{
			transform: translate(0, 0);
		}
	} */
</style>
