---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home.astro";
import Movies from "../components/Movies.astro";
import Header from "../components/Header.astro";
---

<Layout title="Welcome to Astro.">	
	<main>
		<Header />
		<Home />
		<Movies />
	</main>
</Layout>

<style>
	/* main {
		margin: 0 auto;
		padding: 1rem;
		width: 80%;
		color: white;
		font-size: 20px;
		line-height: 1.6;	
	}	 */

	main {
		margin: 0 auto;
		width: 80%;
		color: var(--second-color);		
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
</style>
