---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<header class="header">
			<div class="logo">
				<a href="#">GHIBLI_WORLD</a>
			</div>
			<nav class="navbar">
				<ul class="items">
					<li class="item"><a href="#">Inicio</a></li>
					<li class="item"><a href="#">Peliculas</a></li>
					<li class="item"><a href="#">Personajes</a></li>
					<li class="item"><a href="#">Especies</a></li>
					<li class="item"><a href="#">Lugares</a></li>
				</ul>
			</nav>
			<div class="closeButton">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="size-6"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5"
					></path>
				</svg>	
			</div>
		</header>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
