---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home.astro"
---

<Layout title="Welcome to Astro.">
	<main>
		<Home/>
		<Home/>
		<Home/>
		<Home/>
		<section class="movies"></section>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 80%;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}	

	@keyframes img_animated {
		from{
			opacity: 0;
			scale: 70%;
			transform: translateY(200px);
		}
		to{
			opacity: 1;
			scale: 100%;
			transform: translateY(0px);
		}
	}
</style>
