---
import Card from "../components/Card.astro";
---

<section id="movies" class="movies">
    <h1>Studio Ghibli - Peliculas</h1>

    <div id="cardList" class="cardList"></div>

    <template id="template">
        <Card
            title="title"
            description="description"
            release_date="release_date"
        >
            <!-- <div id="card" class="card">
            <div class="cardInfo">
                <h1 id="title">title</h1>
                <h2 id="description">description</h2>
                <h3 id="release_date">release_date</h3>
            </div>
        </div> -->
        </Card>
    </template>

    <style>
        .movies {
            align-items: center;
            text-align: center; 
            padding: 30px 0;
        }

        .movies h1 {
            font-size: var(--title);
            text-transform: uppercase;
            padding: 15px 0;
            margin: 30px 0;
        }

        .cardList {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            place-items: center;
            gap: 50px 50px;
        }

        /* .card {
        position: relative;
        width: 300px;
        height: 400px;
        border-radius: 10px;
        background-image: url(../../public/media/castle.png);
        background-color: rgb(100, 100, 100);
        background-blend-mode: soft-light;
        border: 1px solid beige;
        box-shadow: 3px 3px 3px white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        display: grid;
        align-items: center;
        justify-content: center;

        animation: img_animated auto ease-out both ;
		animation-timeline: view(block);
		animation-range: entry 30% cover 40%;

        &:hover {
            background-color: rgba(0, 0, 0, 0.900);
            scale: 1.1;
        }
        &:hover .cardInfo {
            opacity: 1;
        }
    }

    
    @keyframes img_animated {
		from {
			opacity: 0;
            translate: 0 100px ;
		}
		to {
			opacity: 1;
            translate: 0 0;
		}
	}

    .cardInfo {
        position: absolute;
        text-align: center;
        padding: 0 10px;
        color: var(--second-color);
        opacity: 0;
        transition: all 0.4s ease-in-out;
    }

    .cardInfo h1 {
        font-size: 25px;
    }
    .cardInfo h2 {
        font-size: 10px;
    }
    .cardInfo h3 {
        font-size: 15px;
    } */
    </style>

    <script>
        const template = document.getElementById("template").content;
        const fragment = document.createDocumentFragment();
        const cardList = document.getElementById("cardList");
        const url = `https://ghibliapi.vercel.app/films`;

        document.addEventListener("DOMContentLoaded", () => {
            getApiInfo();
        });

        const getApiInfo = async () => {
            try {
                const infoRoot = await fetch(url);
                const infoJson = await infoRoot.json();
                datos(infoJson);
            } catch (error) {
                console.log(error);
            }
        };

        const datos = (array) => {
            array.forEach((element) => {
                const { title, release_date, description, image } = element;
                template.querySelector("h1").textContent = title;
                template.querySelector("h2").textContent = description;
                template.querySelector("h3").textContent = release_date;
                template
                    .querySelector(".card")
                    .style.setProperty("background-image", `url(${image})`);
                // card.style.setProperty('background-image', `url(${image})`);
                const clone = template.cloneNode(true);
                fragment.appendChild(clone);
            });
            cardList.appendChild(fragment);
        };
    </script>
</section>
