<header class="header">
    <div class="logo">
        <a href="../components/Home.astro">GHIBLI_WORLD</a>
    </div>
    <nav class="navbar">
        <ul class="items" id="items">
            <li class="item" id="item"><a href="#Home  ">Inicio</a></li>
            <li class="item" id="item"><a href="#movies">Peliculas</a></li>
            <li class="item" id="item"><a href="#">Personajes</a></li>
            <li class="item" id="item"><a href="#">Especies</a></li>
            <li class="item" id="item"><a href="#">Lugares</a></li>
        </ul>

        <div class="openButton" id="openButton">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                ><path
                    d="M3 4H21V6H3V4ZM7 19H21V21H7V19ZM3 14H21V16H3V14ZM7 9H21V11H7V9Z"
                ></path></svg
            >
        </div>

        <div class="closeButton" id="closeButton" >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                ><path
                    d="M10.5859 12L2.79297 4.20706L4.20718 2.79285L12.0001 10.5857L19.793 2.79285L21.2072 4.20706L13.4143 12L21.2072 19.7928L19.793 21.2071L12.0001 13.4142L4.20718 21.2071L2.79297 19.7928L10.5859 12Z"
                ></path></svg
            >
        </div>

        <div class="backLi" id="backLi"></div>
    </nav>
</header>

<style>
    @media (max-width: 1080px) {
        .header .navbar .items{
            display: none;
        }

        .navbar .openButton{
            display: block;
        }
    }

    a {
        text-decoration: none;
        color: var(--second-color);
    }

    .header {
        position: fixed;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        max-width: 100%
        min-height: 50px;
        z-index: 10;
        text-transform: uppercase;
        animation: header_animated auto linear both;
        font-size: var(--text-pri);
        padding: 10px 80px;
        animation-timeline: scroll(root);
        animation-range: 0 200px;
    }

    @keyframes header_animated {
        to {
            background-color: rgba(65, 78, 73, 0.151);
            backdrop-filter: blur(8px);
            color-scheme:;
        }
    }

    .logo {
        font-size: var(--title);
        font-weight: bold;
        border: 1px solid white;
        box-shadow: 5px 3px 5px white;
    }

    .navbar {
        display: flex;
        align-items: center;
    }

    .navbar .items {
        list-style: none;
        display: flex;
        padding: 0;
    }

    /* .navbar .items .item{
        display: inline-block;
        padding: 5px 30px;
    } */

    .navbar .items .item a {
        display: inline-block;
        padding: 5px 30px;
    }

    .openButton {
    }

    .closeButton,
    .openButton {
        color: white;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: none;
    }

    .navbar .backLi {
        position: absolute;
        right: var(--right);
        left: var(--left);
        width: var(--width);
        height: var(--height);
        z-index: -10;
        background-color: rgb(90, 161, 87);
        transition: all 0.3s ease-out;
        border-radius: 3px;
    }
</style>

<script>

    //hover links
    const backLi = document.getElementById(`backLi`);
    const items = document.querySelectorAll("#items #item");

    items.forEach((item) => {
        item.addEventListener("mouseenter", (e) => {
            console.log(e.target.getBoundingClientRect());
            let { width, height, left, right } =
                e.target.getBoundingClientRect();
            backLi.style.setProperty(`--right`, `${right}px`);
            backLi.style.setProperty(`--left`, `${left}px`);
            backLi.style.setProperty(`--width`, `${width}px`);
            backLi.style.setProperty(`--height`, `${height}px`);
            backLi.style.visibility = "visible";

            item.addEventListener("mouseleave", () => {
                backLi.style.visibility = "hidden";
            });
        });
    });

    //toggle menu
    const open = document.getElementById('openButton');
    

</script>
