<header class="header">
    <div class="logo">
        <a href="../components/Home.astro">GHIBLI_WORLD</a>
    </div>
    <nav class="navbar">
        <ul class="items">
            <li class="item"><a href="#">Inicio</a></li>
            <li class="item"><a href="#movies">Peliculas</a></li>
            <li class="item"><a href="#">Personajes</a></li>
            <li class="item"><a href="#">Especies</a></li>
            <li class="item"><a href="#">Lugares</a></li>
        </ul>

        <div class="closeButton">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5"
                ></path>
            </svg>
        </div>

        <div class="backLi" id="backLi"></div>
    </nav>

</header>

<style>

    a {
        text-decoration: none;
        color: var(--second-color);
    }

    header {
        position: fixed;
        top: 0;    
        left: 0;
        height: 50px;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        backdrop-filter: blur(3px);
        z-index: 10;
        text-transform: uppercase;
        padding: 20px 0;
        font-size: var(--text-sec);
        animation: header_animated auto linear both ;
        animation-timeline: scroll(root);
        animation-range: 0 300px; 
    }

    @keyframes header_animated {
        to{
            background-color: rgba(65, 78, 73, 0.151);
            backdrop-filter: blur(8px);
            font-size: 1.2rem;
            color: black;
        }
    }

    .logo {
        font-size: 2rem;
        font-weight: bold;
        border: 1px solid white;
        box-shadow: 5px 3px 5px white;
        padding: 0 10px;
    }

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar .items {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    .navbar .items .item a{
        display: inline-block;
        padding: 5px 30px;
    }

    .closeButton {
        color: white;
        width: 40px;
        height: 40px;
        display: none;
    }

    .navbar .backLi {
        position: absolute;
        right: var(--top);
        left: var(--left);
        width: var(--width);
        height: var(--height);  
        z-index: -7;
        background-color: rgba(22, 145, 73, 0.349);
        transition: all .2s ease-in-out;
        border-radius: 3px;
    }
</style>

<script>
    const backLi = document.getElementById(`backLi`);
    const items = document.querySelectorAll(`.items .item a`);

    items.forEach((item) => {
        item.addEventListener("mouseenter", (e) => {
            let {width, height, left, right} = e.target.getBoundingClientRect();
            backLi.style.setProperty(`--top`,`${right}px`);
            backLi.style.setProperty(`--left`, `${left}px`);
            backLi.style.setProperty(`--width`, `${width}px`);
            backLi.style.setProperty(`--height`, `${height}px`);
            backLi.style.visibility = 'visible';
        });

        item.addEventListener('mouseleave', ()=>{
            backLi.style.visibility = 'hidden';
        });
    });
</script>
